.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
}

.body-perfil{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    overflow-y: scroll!important;
    overflow-y: hidden!important;
}

.datos{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 65vh;
}

.usuario-img{
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
}

.nombre{
    font-family: Avenir-Bold;
    font-size: 20px;
    color: #CD0000;
    opacity: 1;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 1rem;
}



.txt{
    font-family: Avenir;
    font-size: 16px;
    color: black;
    opacity: 1;
    letter-spacing: 0;
    text-align: center;
}

.btn-login{
    width: 188px;
    height: 40px;
    background: #CD0000 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 3rem;
}

.text-btn{
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    opacity: 1;
}