<section class="perfil-usuario">
    <div class="wrapper">
        <mat-drawer-container>
            <mat-drawer #drawer mode='over' position="start">
                <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>
            </mat-drawer>
            <app-header-app (drawer)="drawer.toggle()"></app-header-app>

            <div class="body-perfil">
                <div class="datos">
                    <img src="/assets/images/usuario-img.jpg" class="usuario-img"> 
                    <span class="nombre">Sergio Abraham Muñoz Diaz</span>
                    <span class="txt">Herramientas Web<br>Luis Yael Méndez Sánchez<br>Otoño 2023</span>
                </div>

                <div class="d-flex flex-direction-row justify-content-center w-100 mt-3 mb-1">
                    <button mat-flat-button color="warn" class="btn-login" (click)="home()">
                        <span class="text-btn">IR AL INICIO</span>
                    </button>
                </div>

                <div class="footer">
                    <app-footer-app></app-footer-app>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</section>
