<section class="juegop1">
    <div class="wrapper">
        <mat-drawer-container>
            <mat-drawer #drawer mode='over' position="start">
                <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>
            </mat-drawer>
            <app-header-app (drawer)="drawer.toggle()"></app-header-app>

            <div class="body-juegop1">
                <div class="txt-nuevo-title">
                    <div class="line-color">
                        <div class="line" style="height: 111px;"></div>
                    </div>
                    <span class="title">NUEVO LOOK</span>
                </div>

                <div class="txt-nuevo">
                    <span class="txt1">¿Quieres tener una idea de cómo verías si usarás unos increíbles Carrera Ducati?</span>
                </div>

                <div class="section-lentes">
                    <div class="lentes-1">
                        <img src="/assets/images/lentes-ducati-1.png" class="lentes-img">
                        <span class="txt-lentes">CARDUC 001/S</span>
                    </div>

                    <div class="lentes-2">
                        <img src="/assets/images/lentes-ducati-2.png" class="lentes-img">
                        <span class="txt-lentes">CARDUC 002/S</span>
                    </div>

                    <div class="lentes-3">
                        <img src="/assets/images/lentes-ducati-3.png" class="lentes-img">
                        <span class="txt-lentes">CARDUC 003/S</span>
                    </div>
                </div>

                <div class="btn-option">
                    <div class="d-flex flex-direction-row justify-content-center w-100">
                        <button mat-flat-button class="btn1" (click)="goJuego()">
                            <span class="text-btn1">OMITIR</span>
                        </button>
                    </div>
                    
                    <div class="d-flex flex-direction-row justify-content-center w-100">
                        <button mat-flat-button color="warn" class="btn2" (click)="goJuego()">
                            <span class="text-btn2">USAR LENTES</span>
                        </button>
                    </div>  
                </div>

                <div class="pre-footer">
                    <div class="franja">
                        <span class="franja-txt">Ducati Motor Holding S.p.A Official Licensed Product</span>
                    </div>
                </div>
                <div class="footer">
                    <app-footer-app></app-footer-app>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</section>
